
      <p>Check out the
        <b><%= link_to t('nav.forums'), thredded.root_path %></b>.
      </p>
      
      <p>
        I made this a forum, because this should not be a set of guideline/rules that people HAVE to follow. Instead it should be a vault of knowledge of stuff that has been done in the past, what's worked, what didn't, etc...
      </p>
  